@page "/walletaccount/{walletname}/{accountname}"

@using Blockcore.Features.Wallet.Interfaces
@using NBitcoin;
@using Blockcore.Features.Wallet.Api.Controllers
@using Blockcore.Features.Wallet.Api.Models

@inject NavigationManager NavigationManager
@inject IWalletManager WalletManager
@inject Network Network

<button class="btn btn-link" @onclick="() => { NavigateToWallets(); }">
<p>Back to wallets</p>
</button>
<br />

<h3>Wallet Account: <strong>@walletname / @accountname</strong></h3>
@{
    var accountBalance = this.WalletManager.GetBalances(walletname, accountname).Single();

    <br />
    <button @onclick="() => { NavigateToReceiveWallet(walletname, accountname); }" class="btn btn-primary">Receive</button>
    <button @onclick="() => { NavigateToSendWallet(walletname, accountname); }" class="btn btn-info">Send</button>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Amount Confirmed</th>
                <th>Amount Unconfirmed</th>
                <th>Spendable Amount</th>
            </tr>
        </thead>
        <tbody>
                    <tr>
                        <td>@accountBalance.AmountConfirmed</td>
                        <td>@accountBalance.AmountUnconfirmed</td>
                        <td>@accountBalance.SpendableAmount</td>
                    </tr>
        </tbody>
    </table>
    <br />

    <h3>Wallet History</h3>

    // For now just show last 100 trx of history.
    var model = WalletModelBuilder.GetHistory(this.WalletManager, Network, new WalletHistoryRequest { WalletName = walletname, AccountName = accountname, Take = 100 });

    <table class="table">
        <thead>
            <tr>
                <th>To Address</th>
                <th>Amount</th>
                <th>Confirmed In Block</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var history in model.AccountsHistoryModel)
            {
                foreach (var transaction in history.TransactionsHistory)
                {
                    <tr>
                        <td>@transaction.</td>
                        <td>@transaction.ToAddress</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.ConfirmedInBlock</td>
                        <td>@transaction.Type</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public string walletname { get; set; }
    [Parameter]
    public string accountname { get; set; }

    private void NavigateToReceiveWallet(string walletName, string accountname)
    {
        NavigationManager.NavigateTo("walletreceive/" + walletName + "/" + accountname);
    }

    private void NavigateToSendWallet(string walletName, string accountname)
    {
        NavigationManager.NavigateTo("walletsend/" + walletName + "/" + accountname);
    }

    private void NavigateToWallets()
    {
        NavigationManager.NavigateTo("wallets");
    }
}