@inject IFullNode fullnode

<Router AdditionalAssemblies="@Assemblies()" AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    private IEnumerable<System.Reflection.Assembly> Assemblies()
    {
        var ret = fullnode.Services.Features
            .Where(f => f.GetType().Assembly.FullName != typeof(Program).Assembly.FullName)
            .Select(f => f.GetType().Assembly);

        foreach (var t in ret)
            yield return t;
    }
}